ABSTRACT_API_SCRAPE_API_KEY="***************"
ABSTRACT_API_SCRAPE_URL="https://scrape.abstractapi.com/v1"
ABSTRACT_API_COMPANY_ENRICHMENT_API_KEY="***************"
ABSTRACT_API_COMPANY_ENRICHMENT_API_URL="https://companyenrichment.abstractapi.com/v1"

PINECONE_API_KEY="****************"
PULSAR_STREAMING_API_TOKEN="****************************************"
ASTRA_DB_APPLICATION_TOKEN="****************************************************"
ASTRA_DB_STREAMING_URL="pulsar+ssl://pulsar-gcp-useast1.streaming.datastax.com:6651"
ASTRA_DB_API_ENDPOINT="https://**********-us-east1.apps.astra.datastax.com"
ASTRA_DB_ID="**********-us-east1"
ASTRA_DB_REGION="us-east-1"

NOTION_TOKEN="***************"
NOTION_DB_ID="***************"

OPENAI_API_KEY="sk-************"

KAFKA_URL=localhost:9092
KAFKA_USERNAME=xxxxxxxxxxxxxxxxxxxxxxxxxxxxx-xxxx-xxxxxxxxxxxxxxxxxxxxxxxxxxxx
KAFKA_PASSWORD=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

FIREBASE_SERVICE_ACCOUNT_KEY='''
{
  "type": "service_account",
  "project_id": "your-project-id",
  "private_key_id": "your-private-key-id",
  "private_key": "-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY\n-----END PRIVATE KEY-----\n",
  "client_email": "your-client-email",
  "client_id": "your-client-id",
  "auth_uri": "https://accounts.google.com/o/oauth2/auth",
  "token_uri": "https://oauth2.googleapis.com/token",
  "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
  "client_x509_cert_url": "your-client-cert-url"
}
'''